@charset "UTF-8";
@font-face {
		    font-family: 'SUIT-Regular';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
		    font-weight: normal;
		    font-style: normal;
		}
section {
	    padding: 3em 0 3em 0;
	    overflow: hidden;
}
		
h1 a , div.container,h3 ,th {
			font-family: 'SUIT-Regular';
}

	/* 회원가입 */
	
.join .join-check02 {display: flex; align-items: center; justify-content: center;}
.join-check02 input[type='radio'] {display: none;}
.join-check02 input[type='radio'] + label {display: inline-block; width: 14rem; height: 3.875rem; line-height: 4rem; background-image: none; text-indent: initial; border: .071rem solid #555; cursor: pointer;}
.join-check02 input[type='radio']:nth-child(1) + label {margin-right: 1em;}
.join-check02 input[type='radio']:checked + label {border-color: #661b07; font-weight: 700; color: #bf4c43; border-width: 2px;}
/* .join-check02 input[type='radio']:nth-child(1):checked ~ label {border-left-color: #bf4c43;} */

.join-check01 {width: 32rem; margin: 2rem auto 0; background-color: #f5f5f5; padding: 1.25rem; text-align: left; box-sizing: border-box;}
.join-check01 > li {font-size: 1rem; font-weight: 700; margin-bottom: 1rem;}
.join-check01 > li > ul {margin-top: .875rem; margin-left: 1.75rem;}
.join-check01 li + li {margin-top: .5rem;}
.join-check01 input[type="checkbox"] {display: none;}
.join-check01 input[type="checkbox"] + label::before {content: ''; width: 1rem; height: 1rem; border: .071rem solid #e4e4e4; background-color: #fff; background-position: center; background-size: .75rem auto; background-repeat: no-repeat; display: inline-block; vertical-align: middle;    position: relative; top: -0.071rem; margin-right: 0.5rem;}
.join-check01 input[type="checkbox"]:checked + label::before {background-color: #bf4c43; background-image: url(../images/ico_chk.png);}
.join-check01 input[type="checkbox"] + label > span {font-size: .95rem; cursor: pointer;}
.join-check01 input[type="checkbox"] + label + a {text-decoration: underline; color: #747474; font-size: .75rem; margin-left: .5rem;}

.pop-cont {line-height: 1.6; font-weight: initial; font-size: .95rem;width:100%;}
.join-pop > p {line-height: 1.8!important;}
.join-pop .font700 {font-weight: 700; font-size: 1rem;}

.join-check03 {width: 100%; margin-top: 1.25rem; text-align: left; box-sizing: border-box;}
.join-check03 input[type="checkbox"] {display: none;}
.join-check03 input[type="checkbox"] + label::before {content: ''; width: 1rem; height: 1rem; border: .071rem solid #e4e4e4; background-color: #fff; background-position: center; background-size: .75rem auto; background-repeat: no-repeat; display: inline-block; vertical-align: middle;    position: relative; top: -0.071rem; margin-right: 0.5rem;}
.join-check03 input[type="checkbox"]:checked + label::before {background-color: #bf4c43; background-image: url(../images/ico_chk.png);}
.join-check03 input[type="checkbox"] + label > span {font-size: .875rem; cursor: pointer;}
.join-check03 input[type="checkbox"] + label > span > a {text-decoration: underline; color: #747474; font-size: .75rem; margin-left: .5rem;}
	
.join-title {width: 28.571rem; margin: 0 auto; text-align: center;}
.join-title > li + li {margin-top: 1.143rem;}
.join-title > li > img {height: 9.143rem; margin: 0 auto;}
.join-title > li > h6 {font-size: 1.714rem; font-weight: 700; color: #071d3d;}
.join-title > li > p {line-height: 1.4; font-weight: 500; margin-top: 1rem; margin-bottom: 2.857rem; word-break: keep-all;}

.join-gor {display: block; width: 28rem; height: 3.429rem; line-height: 3.429rem; background-color: #661b07; color: #fff; margin: 0.5rem auto 0;}
button.join-gor:hover {
	background-color: #222;
}

.join-wrap {width: 36.857rem; margin: 0 auto; padding: 2.143rem; background-color: #f8f8f8; box-sizing: border-box;}
.join-wrap > li {font-weight: 700; text-align: left; font-size:1rem;}
.join-wrap > li > label {font-weight: 700; text-align: left; font-size: .8rem;}
.join-wrap > li + li {margin-top: 1rem;}
.join-wrap > li > input[type="text"], .join-wrap > li > input[type="password"] {width: 100%; height: 3.429rem; line-height: 3.429rem; padding: 0 1rem; color: #747474; border: .071rem solid #e4e4e4; background-color: #fff; box-sizing: border-box;}
.join-wrap > li > input + button {width: 6.571rem; margin-left: 0.271rem; height: 3.2rem; line-height: 3.2rem; text-align: center; color: #fff; background-color: #747474;}
.join-wrap > li .join-btn {width: 100%; height: 3.429rem; line-height: 3.429rem; text-align: center; color: #fff; background-color: #071d3d; box-sizing: border-box;}
.join-wrap  input[type="radio"] {display: inline-block;}
.join-wrap .id-input, .join-wrap .post-input {width: calc(100% - 13.4rem)!important; display: inline-block;}
.join-wrap .team-check {display: grid; grid-template-columns: repeat(4, 1fr); column-gap: 1rem; row-gap: 2rem; }
.join-wrap .team-check input[type="radio"] {display: none;}
.join-wrap .team-check input[type="radio"] + label {width: auto; height: auto; display: block; background-image: none; text-indent: initial; cursor: pointer;}
.join-wrap .team-check input[type="radio"] + label .img {position: relative; width: 5.714rem; height: 5.714rem; margin: 0 auto; border-radius: 100%; box-shadow: 4px 4px 10px 0 rgba(7, 29, 61, 0.08); background-color: #fff; background-repeat: no-repeat; background-position: center; background-size: 70%;}
.join-wrap .team-check input[type="radio"] + label > h6 {font-size: .875rem; font-weight: 500; text-align: center; margin-top: .75rem;}
.join-wrap .team-check input[type="radio"]:checked + label > h6 {font-weight: 700; color: #071d3d;}
.join-wrap .team-check input[type="radio"]:checked + label .img::before {content: ''; position: absolute; top: 0; left: 0; width: 5.574rem; height: 5.574rem; border-radius: 100%; border: .14rem solid #071d3d; background-color: rgba(29, 70, 125, 0.6); background-image: url(../images/icon/ic-checking@2x.png); background-repeat: no-repeat; background-size: 50%; background-position: center;}

.join-agree {width: 32.857rem; margin: 1.429rem auto 0; padding: 2.143rem; background-color: #f4f4f4; box-sizing: border-box;}
.join-agree > li {font-weight: 500; text-align: left;}
.join-agree > li + li {margin-top: 1rem;}
.join-agree > li + li {margin-top: 1rem;}
.join-agree > li input {vertical-align: middle;}
.join-agree > li span {font-size: .875rem; cursor: pointer; font-weight: initial; margin-left: .25rem; vertical-align: middle;}
.join-agree > li button {text-decoration: underline; font-size: .8rem; cursor: pointer; color: #8d91a2; vertical-align: middle; font-weight: initial;}
.join-agree > li > ul {margin-top: .5rem; margin-left: 1.125rem;}
.join-agree input[type="checkbox"] + label + a {text-decoration: underline; color: #747474; font-size: .9rem; margin-left: .5rem;}
.join-btn {margin: 1.429rem auto 0; width: 32.857rem; background-color: #071d3d; height: 3.429rem; line-height: 3.429rem; color: #fff; font-size: 1rem; display: block;}
	
.popup {width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; z-index: 999; display: none}
.popup .pop-wrap {width: 40rem; background-color: #fff; box-sizing: border-box; padding: 2rem; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.popup .pop-wrap .pop-title {margin: -2rem -2rem 0; background-color: #bf4c43; padding: 2rem; font-size: initial; text-align: center; position: relative;}
.popup .pop-wrap .pop-title > h6 {color: #fff; font-size: 1.25rem; font-weight: 500; vertical-align: middle;}
/*  css 충돌로 min-width 추가 */
.popup .pop-wrap .pop-title > button {min-width:0px;position: absolute; filter: invert(1); top: 2rem; right: 2rem; width: 1.25rem; height: 1.25rem; background-size: 1.25rem; background-repeat: no-repeat; background-position: center; background-image: url("../images/icon/ic-close@2x.png");}
.popup .pop-wrap .pop-cont {max-height: 40rem; overflow-y: auto; margin-top: 2rem; font-size: 1.143rem; text-align: center;}
.popup .pop-wrap .pop-cont p {text-align: left; font-size: .875rem; line-height: 1.4;}
.popup .pop-wrap .pop-cont p + p {margin-top: 1rem;}
.popup .pop-wrap .pop-btn {margin-top: 2rem; display: flex; align-items: center; justify-content: space-between;}
.popup .pop-wrap .pop-btn > button {width: 100%; height: 4rem; line-height: 4rem; background-color: #bf4c43; font-size: 1rem; color: #fff; text-align: center;}
.popup .pop-wrap .pop-btn > button:first-child:nth-last-child(2), .popup .pop-wrap .pop-btn > button:first-child:nth-last-child(2) ~ button {width: calc((100% - 1rem) / 2)}
.popup .pop-wrap .pop-btn > button.gray {background-color: #747474;}
.popup.active{display: block;}

.pop-new {border: .071rem solid #e4e4e4; padding: 2rem; background-color: #fff;}
.pop-new .close {text-align: right; font-size: .75rem; color: #747474; cursor: pointer; margin-bottom: 1rem;}	



ol, ul {
  list-style: none; }
h6,li,button,div,body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }  


input[type="checkbox"] + label {
	display:inline;
}
/* main.css 와 style.css 충돌 때문에 추가(스타일 변경) */
#nav > ul > li a {
	font-size:1.2em;
}

html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

body {
	line-height: 1;
}
h1 {
	color: inherit;
		font-weight: 600;
		line-height: 1.75em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
			font-style: normal;
			font-weight: 300;
		}
		
	#header {
		text-align: center;
		padding: 3em 0 0 0;
		background-color: #fff;
		background-image: url("images/bg02.png"), url("images/bg02.png"), url("images/bg01.png");
		background-position: top left,					top left,					top left;
		background-size: 100% 6em,					100% 6em,					auto;
		background-repeat: no-repeat,					no-repeat,					repeat;
	}

	#header h1 {
			padding: 0 0 2.75em 0;			margin: 0;
		}

	#header h1 a {
				font-size: 1.5em;
				letter-spacing: -0.025em;
				border: 0;
			}		
#footer h3{
	margin-bottom: 10px;
	font-weight: bold;
}

.join-wrap > div input[type='checkbox'] {display: inline;}

/* 회원가입 남성/여성 */
.join-wrap input[type='radio'] {display: none;}
.join-wrap input[type='radio'] + label {
	font-size:1rem;
	display: inline-block; width: 6rem; height: 3.875rem; line-height: 4rem; background-image: none; text-indent: initial; border: .071rem solid #555; cursor: pointer;text-align: center;}
.join-wrap input[type='radio']:nth-child(1) + label {margin-right: 1em;}
.join-wrap input[type='radio']:checked + label {border-color: #661b07; font-weight: 700; color: #bf4c43; border-width: 2px;}
/* .join-check02 input[type='radio']:nth-child(1):checked ~ label {border-left-color: #bf4c43;} */
		